@import '../../index.scss';

.NavBar {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__burgerButton {
    padding: 0px;
    border: none;
    background-color: inherit;
    margin-bottom: 38px;
    cursor: pointer;
  }

  &__navLinks {
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  &__refreshButton {
    padding: 0px;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }
}