@import '../../index.scss';

.PageLayout {
  display: flex;
  flex-grow: 1;
  &_leftCol {
    position: fixed;
    height: 100%;
    background-color: $darkblue400;
  }
  &_rightCol {
    width: 100%;
    margin-left: 64px;
  }
}