@import "../../index.scss";

.TextField {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.4px;
    color: $grey400;
  
  &__input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid $grey200;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: $black;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 0px;
    &:active, 
    &:hover, 
    &:focus {
    outline: 0;
    outline-offset: 0;
    }
  }

    &__inputWithIcon {
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid $grey200;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: $black;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 36px;

    &:active, 
    &:hover, 
    &:focus {
    outline: 0;
    outline-offset: 0;
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__icon {
    height: 100%;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
}
