@import '../../../../index.scss';

.WorkLogSection {
  box-sizing: border-box;
  padding: 16px 22px 23px 20px;
  border: 1px solid $grey200;
  border-radius: 4px;
  margin-top: 20px;

  &__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: $darkblue400;
    margin-bottom: 10px;
  }

  &__container {
    display: flex;
    justify-content: space-between;

  }
}